section{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
div{
    height: 70%;
    width: 20%;
    padding: 45px;
    display:flex;
    flex-direction: column;
    justify-content: space-around;
}
img {
    height: 45px;
    width: 50px ;
}
h2 {
    color: white;
    text-transform: uppercase;
    font-family: 'Big Shoulders Display', cursive;
    font-size:xx-large;
}
p {
    color: var(--Transparent-white-paragraphs);
}
button{
    background-color: white;
    border-style: none;
    border-radius: 15px;
    height: 30px;
    width: 90px;
    
}
#BrightOrange {
    background-color: var(--Bright-orange);
}

#DarkCyan {
    background-color: var(--Dark-cyan);
}

#VeryDarkCyan {
    background-color: var(--Very-dark-cyan
    );
}

#Red {
    background-color: red;
}

#Violet {
    background-color: violet;
}

#Pink {
    background-color: pink;
}


#BrightOrangeButton {
    color: var(--Bright-orange);
}

#DarkCyanButton {
    color: var(--Dark-cyan);
}

#VeryDarkCyanButton {
    color: var(--Very-dark-cyan
    );
}

#RedButton {
    color: red;
}

#VioletButton {
    color: violet;
}

#PinkButton {
    color: pink;
}

#BrightOrangeButton:hover {
    color: white;
    background-color: transparent;
    border: 2px solid white;
}

#DarkCyanButton:hover {
    color: white;
    background-color: transparent;
    border: 2px solid white;
}
#VeryDarkCyanButton:hover {
    color: white;
    background-color: transparent;
    border: 2px solid white;
}

#RedButton:hover {
    color: white;
    background-color: transparent;
    border: 2px solid white;
}

#VioletButton:hover {
    color: white;
    background-color: transparent;
    border: 2px solid white;
}

#PinkButton:hover {
    color: white;
    background-color: transparent;
    border: 2px solid white;
}